#python
trading_service/venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env
# .NET / Aspire
bin/
obj/
TestResults/

.vs/
.vscode/
*.user
*.userosscache
*.sln.docstates
.DS_Store

# Aspire Dashboard storage
.aspire/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.npm

